{{!-- <h1></h1>
    <section class="post-card">
        <a href="/posts/{{hid}}" class="card-body">
            <h2 class="post-title">{{post.title}}</h2>
            <h3>{{user}} added {{movies_wishlist.title}} to their wishlist on {{createdAt}}</h3>
            <p class="post-text">{{content}}</p>
        </a>
    </section> --}}

    <article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Osha Wott</strong> <small>@oshawott</small> <small>31m</small>
        <br />
        Oi mate
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>

<h1></h1>
<section class="post-card">
  <a href="/posts/{{hid}}" class="card-body">
    <h2 class="post-title">{{post.title}}</h2>
    <h3>{{user}} added {{movies_wishlist.title}} to their wishlist on {{createdAt}}</h3>
    <p class="post-text">{{content}}</p>
  </a>
</section>

