{{#each homePost as |post|}}
<article class="media" style="margin-top: 20px;">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" />
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <a href="/post/{{post.id}}">
        <strong>@{{post.user_id}}</strong>
            <h3>
                <strong>{{movies_seen.title}} </strong>
            </h3>
            <p>
                <strong>{{post.title}}</strong> <small>{{format_date post.date_created}}</small>
            </p>
        </a>
            {{post.content}}
        <br />
      </p>
      <strong>Rating:{{movies_seen.review}}</strong>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-link">Submit</a>
        </div>
      </div>
      </div>
    </nav>
  </div>
</article>
{{/each}}

