<h1></h1>
    <section class="post-card">
        <a href="/posts/{{hid}}" class="card-body">
            <h2 class="post-title">{{post.title}}</h2>
            <h3>{{user}} added {{movies_wishlist.title}} to their wishlist on {{createdAt}}</h3>
            <p class="post-text">{{content}}</p>
        </a>
    </section>

<script src="/js/dashboard.js"></script>