{{!-- <h1></h1>
    <section class="post-card">
        <a href="/posts/{{hid}}" class="card-body">
            <h2 class="post-title">{{post.title}}</h2>
            <h3>{{user}} added {{movies_wishlist.title}} to their wishlist on {{createdAt}}</h3>
            <p class="post-text">{{content}}</p>
        </a>
    </section> --}}

<div class="field has-addons">
  <div class="control">
    <input class="input" id="searchBar" type="text" placeholder="Search for a user">
  </div>
  <div class="control">
    <button class="button is-info" id="search">
      Search
    </button>
  </div>
</div>

{{!-- {{#each user as |users|}}
{{!-- <header>{{movies_seen.title}}</header>
<p>{{movies_seen.review}}</p> --}}
{{!-- <p>{{name}}</p>
{{/each}} --}}


<script src="./js/userSearch.js"></script>