<article class="media">
</div>
  <div class="media-content">
      <div class="field">
  <label class="label">Post Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="What is this about?">
  </div>
</div>

</div>
  <div class="media-content">
      <div class="field">
  <label class="label">Movie Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Godzilla">
  </div>
</div>

<label class="checkbox">
  <input type="checkbox" />
  I have seen this movie ✅
</label>

<label class="checkbox">
  <input type="checkbox" />
  I want to see this movie 🤔
</label>

<div class="field">
  <label class="label">Rating</label>
  <div class="control">
    <input class="input" type="text">
  </div>
    <div class="field">
          <label class="label">Review</label>
      <p class="control">
        <textarea class="textarea" placeholder="Write your thoughts..."></textarea>
      </p>
    </div>
    
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-link">Post</a>
        </div>
      </div>
    </nav>
  </div>
</article>


<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="is-link"><abbr title="Movies">Movie Title</abbr></th>
      <th class="is-link"><abbr title="Review">Review</abbr></th>
      <th class="is-link"><abbr title="Rating">Rating</abbr></th>
      <th class="is-link"><abbr title="Title"></abbr></th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.review}}</td>
        <td>{{this.rating}}</td>
        <td class="checkbox">
          <input type="checkbox"/>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>



{{#each homePost as |post|}}
<a href="/post/"{{id}}>
    <header>{{title}}</header>
    <p>{{format_date date_created}}</p>
</a>
{{/each}}
