<article class="media">
  <div class="media-content">
    <form id="submitForm">
    <div class="field">
      <label class="label">Post Title</label>
      <div class="control">
        <input class="input" id="postTitle" type="text" placeholder="What is this about?">
      </div>
    </div>
    <div class="field">
      <label class="label">Movie Title</label>
      <div class="control">
        <input class="input" id="movieTitle" type="text" placeholder="e.g Godzilla">
      </div>
    </div>
    <label class="checkbox">
      <input type="checkbox" id="seen-movie-checkbox" onchange="toggleRatingReview()">
      I have seen this movie ✅
    </label>
    <label class="checkbox">
      <input type="checkbox" />
      I want to see this movie 🤔
    </label>
    <div class="field" id="rating-review-fields" style="display: none;">
      <label class="label">Rating</label>
      <div class="control">
        <input class="input" type="text">
      </div>
      <div class="field">
        <label class="label">Review</label>
        <p class="control">
          <textarea class="textarea" id="content" placeholder="Write your thoughts..."></textarea>
        </p>
      </div>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button class="button is-link" id="sendButton">Post</button>
        </div>
      </div>
    </nav>
  </div>
  </form>
</article>

<script>
  function toggleRatingReview() {
    var checkbox = document.getElementById("seen-movie-checkbox");
    var ratingReviewFields = document.getElementById("rating-review-fields");
    if (checkbox.checked) {
      ratingReviewFields.style.display = "block";
    } else {
      ratingReviewFields.style.display = "none";
    }
  }
</script>


<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="is-link"><abbr title="Movies">Movie Title</abbr></th>
      <th class="is-link"><abbr title="Review">Review</abbr></th>
      <th class="is-link"><abbr title="Rating">Rating</abbr></th>
      <th class="is-link"><abbr title="Check"></abbr></th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.review}}</td>
        <td>{{this.rating}}</td>
        <td class="checkbox">
          <input type="checkbox"/>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>


{{#each homePost as |post|}}
<a href="/post/"{{id}}>
    <header>{{title}}</header>
    <p>{{format_date date_created}}</p>
</a>
{{/each}}

<script src="./js/makePost.js"></script>
