{{!-- <div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New List:</h3>
    <form class="form new-movie-form">
      <div class="field">
        <label class="label" for="movie-list">Title:</label>
        <div class="control">
          <input class="input" id="movie-list" name="movie-list" type="text" placeholder="Enter movie title" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="movie-review">Review:</label>
        <div class="control">
          <textarea class="textarea" id="movie-review" name="movie-review" placeholder="Write your review"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
 --}}

  {{!-- {{#if movies_wishlists.length}}
  <div class="col-md-6 project-list">
    <h3>Current Watchlist:</h3>
    {{#each movies_wishlists as |movies_wishlist|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/project/{{movies_wishlist.id}}">{{movies_wishlist.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="button is-danger is-small" data-id="{{movies_wishlist.id}}">DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}} --}}

{{!-- {{#each homePost as |post|}}
<a href="/post/"{{id}}>
    <header>{{title}}</header>
    <p>{{format_date date_created}}</p>
</a>
{{/each}} --}}

<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="is-link"><abbr title="Movies">Movie Title</abbr></th>
      <th class="is-link"><abbr title="Review">Review</abbr></th>
      <th class="is-link"><abbr title="Rating">Rating</abbr></th>
      <th class="is-link"><abbr title="Title"></abbr></th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.review}}</td>
        <td>{{this.rating}}</td>
        <td class="checkbox">
          <input type="checkbox"/>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>



{{#each homePost as |post|}}
<a href="/post/"{{id}}>
    <header>{{title}}</header>
    <p>{{format_date date_created}}</p>
</a>
{{/each}}
